body {
  background-image: url(./assets/Object.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-style: 'Source Sans Pro';
}
